NEXT_PUBLIC_SUPABASE_URL=https://hgsrhaomsihemmuqzkqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhnc3JoYW9tc2loZW1tdXF6a3FqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ2Njc0OTUsImV4cCI6MjA3MDI0MzQ5NX0.R4PoK_UB1IpaW7CS7XXYMLyP5YYJBJtWqelNZYsacDU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhnc3JoYW9tc2loZW1tdXF6a3FqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDY2NzQ5NSwiZXhwIjoyMDcwMjQzNDk1fQ.eammBSN2SRi5BwOFfTAJQJh8dq_Q5E61v7xVbzqOywc 